<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukButton({
      text: "Withdraw claim",
      classes: "govuk-button--warning",
      href: "/withdraw-claim/" + reference + "?page=" + page + ("&returnPage=" + returnPage if returnPage else "")
    }) }}
  </div>
</div>
