# Test output
html-reports
test-output

# npm stuff
.npm/
node_modules
npm-debug.log

# Misc
*.tgz
.env
*.log

# Editor stuff
.idea
.vscode
dist/

# Generated views
layout.njk

# OS stuff
.DS_Store

# Other
.server
.cache
.eslintcache
coverage
