{% extends './layouts/layout.njk' %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% block pageTitle %}
  Administration: AHWR Claims
{% endblock %}
{% block content %}
  <form method="POST" action="/claims">
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Claims, Agreements and Flags</h1>
        <div class="govuk-grid-column-full">
          <div class="moj-scrollable-pane">
            <div class="moj-scrollable-pane__wrapper">
              <div class="govuk-tabs" data-module="govuk-tabs">
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <span class="govuk-tabs__tab">
                      Claims
                    </span>
                  </li>
                  <a class="govuk-tabs__list-item govuk-body" href="/agreements">
                    <span class="govuk-tabs__tab">
                      Agreements
                    </span>
                  </a>
                  <a class="govuk-tabs__list-item govuk-body" href="/flags">
                    <span class="govuk-tabs__tab">
                      Flags
                    </span>
                  </a>
                </ul>
                <div class="govuk-tabs__panel govuk-!-margin-bottom-6" id="claims">
                  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
                    <h1 class="govuk-heading-l">Claims</h1>
                    <div class="user-search-box">
                      <label class="govuk-label govuk-label--s" for="searchText">Find a claim</label>
                      <div id="claimSearch-hint" class="govuk-hint">Search by claim number or SBI.</div>
                      <input type="hidden" name="crumb" value="{{ crumb }}"/>
                      <input class="govuk-input" id="searchText" name="searchText" type="text" value="{{ searchText }}" spellcheck="false">
                      <button class="search-button" data-module="govuk-button" name="submit" value="search">
                        Search
                      </button>
                    </div>
                  </div>
                  {% if error %}
                    <div class="govuk-grid-column-full">
                      <p class="govuk-body no-results-message">{{ error }}</p>
                    </div>
                  {% endif %}
                  <div class="govuk-grid-column-full">
                    {% call govukDetails({
                      summaryText: "Advanced search"
                      }) %}
                        {{ govukSelect({
                          id: "agreementType",
                          name: "agreementType",
                          label: {
                            text: "Agreement type"
                          },
                          items: agreementTypeOptions
                        }) }}

                        <div class="side-by-side-options">
                          {{ govukDateInput({
                            id: "dateFrom",
                            namePrefix: "dateFrom",
                            fieldset: {
                              legend: {
                                text: "Claim date from",
                                classes: "govuk-fieldset__legend--s"
                              }
                            },
                            items: claimDateFrom
                          }) }}
                          {{ govukDateInput({
                            id: "dateTo",
                            namePrefix: "dateTo",
                            fieldset: {
                              legend: {
                                text: "Claim date to",
                                classes: "govuk-fieldset__legend--s"
                              }
                            },
                            items: claimDateTo
                          }) }}
                        </div>

                        {{ govukSelect({
                          id: "status",
                          name: "status",
                          label: {
                            text: "Status"
                          },
                          items: statusOptions
                        }) }}

                        <div class="govuk-button-group">
                          {{ govukButton({
                            text: "Search",
                            name: "submit",
                            value: "advancedSearch"
                          }) }}
                          <a class="govuk-link" href="/claims/clear">Clear all filters</a>
                        </div>
                    {% endcall %}
                  </div>
                  <div class="govuk-grid-column-full">
                    <p class="govuk-body govuk-!-font-weight-bold">{{ total }} search results</p>
                  </div>
                    {{ govukTable({
                        attributes: {
                          'data-module': 'moj-sortable-table'
                        },
                        head: header,
                        rows: rows,
                        classes: 'fixed-layout-table'
                      })
                    }}
                </div>
                {{ govukPagination({
                    previous: previous,
                    next: next,
                    items: pages
                  })
                }}
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>
{% endblock %}
