{% extends './layouts/layout.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% block pageTitle %}
  Support
{% endblock %}
{% block content %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Support</h1>

{% if errors.length %}
   {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
   }) }}
{% endif %}

<form method="POST" action="/support" class="ahwr-application-search-form">
  {{ govukInput({
    label: {
      text: "Application Reference",
      classes: "govuk-label--m",
      isPageHeading: false
    },
    id: "application-reference",
    name: "applicationReference"
  }) }}

  {{ govukButton({
    text: "Search for Application"
  }) }}
  <input type="hidden" name="crumb" value="{{ crumb }}"/>
  <input type="hidden" name="action" value="searchApplication"/>
</form>

{% if applicationDocument %}
{{ govukInsetText({
  text: applicationDocument,
  id: "applicationDocument"
}) }}
{% endif %}
    
<form method="POST" action="/support" class="ahwr-claim-search-form">
  {{ govukInput({
    label: {
      text: "Claim Reference",
      classes: "govuk-label--m",
      isPageHeading: false
    },
    id: "claim-reference",
    name: "claimReference"
  }) }}

  {{ govukButton({
    text: "Search for Claim"
  }) }}
  <input type="hidden" name="crumb" value="{{ crumb }}"/>
  <input type="hidden" name="action" value="searchClaim"/>
</form>

{% if claimDocument %}
{{ govukInsetText({
  text: claimDocument,
  id: "claimDocument"
}) }}
{% endif %}

<form method="POST" action="/support" class="ahwr-herd-search-form">
  {{ govukInput({
    label: {
      text: "Herd Id",
      classes: "govuk-label--m",
      isPageHeading: false
    },
    id: "herd-id",
    name: "herdId"
  }) }}

  {{ govukButton({
    text: "Search for Herd"
  }) }}
  <input type="hidden" name="crumb" value="{{ crumb }}"/>
  <input type="hidden" name="action" value="searchHerd"/>
</form>

{% if herdDocument %}
{{ govukInsetText({
  text: herdDocument,
  id: "herdDocument"
}) }}
{% endif %}

<form method="POST" action="/support" class="ahwr-payment-search-form">
  {{ govukInput({
    label: {
      text: "Payment Reference",
      classes: "govuk-label--m",
      isPageHeading: false
    },
    id: "payment-reference",
    name: "paymentReference"
  }) }}

  {{ govukButton({
    text: "Search for Payment"
  }) }}
  <input type="hidden" name="crumb" value="{{ crumb }}"/>
  <input type="hidden" name="action" value="searchPayment"/>
</form>

{% if paymentDocument %}
{{ govukInsetText({
  text: paymentDocument,
  id: "paymentDocument"
}) }}
{% endif %}

<form method="POST" action="/support" class="ahwr-agreement-messages-search-form">
  {{ govukInput({
    label: {
      text: "Agreement Reference",
      classes: "govuk-label--m",
      isPageHeading: false
    },
    id: "agreement-message-reference",
    name: "agreementMessageReference"
  }) }}

  {{ govukButton({
    text: "Search for Payment"
  }) }}
  <input type="hidden" name="crumb" value="{{ crumb }}"/>
  <input type="hidden" name="action" value="searchAgreementMessages"/>
</form>

{% if agreementMessagesDocument %}
{{ govukInsetText({
  text: agreementMessagesDocument,
  id: "agreementMessagesDocument"
}) }}
{% endif %}

<form method="POST" action="/support" class="ahwr-claim-messages-search-form">
  {{ govukInput({
    label: {
      text: "Claim Reference",
      classes: "govuk-label--m",
      isPageHeading: false
    },
    id: "claim-message-reference",
    name: "claimMessageReference"
  }) }}

  {{ govukButton({
    text: "Search for Payment"
  }) }}
  <input type="hidden" name="crumb" value="{{ crumb }}"/>
  <input type="hidden" name="action" value="searchClaimMessages"/>
</form>

{% if claimMessagesDocument %}
{{ govukInsetText({
  text: claimMessagesDocument,
  id: "claimMessagesDocument"
}) }}
{% endif %}

{% endblock %}
