{% extends './layouts/layout.njk' %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}
  Administration - Withdraw Claim
{% endblock %}
{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="/withdraw-claim/{{ reference }}" class="ahwr-update-form">
        {% if errors.length %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errors
          }) }}
        {% endif %}
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">Confirm withdrawal of this claim</h1>
        <p class="govuk-body"><strong>Claim number:</strong> {{ reference }}</p>

        {{ govukWarningText({
          text: "Once approved, a withdrawn claim cannot be undone.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukRadios({
          name: "reasonForWithdrawal",
          value: reasonForWithdrawal,
          errorMessage: errorMessages.reasonForWithdrawal,
          fieldset: {
            legend: {
              text: "Reason for withdrawal",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: reasonForWithdrawalItems
        }) }}

        {{ govukRadios({
          name: "issueDiscovery",
          value: issueDiscovery,
          errorMessage: errorMessages.issueDiscovery,
          fieldset: {
            legend: {
              text: "How the issue was discovered",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: issueDiscoveryItems
        }) }}

        {{ govukTextarea({
          name: "withdrawalDetails",
          id: "withdrawalDetails",
          value: withdrawalDetails,
          errorMessage: errorMessages.withdrawalDetails,
          label: {
            text: "Enter details for why this claim should be withdrawn",
            classes: "govuk-label--m"
          },
          hint: { text: "Describe all issues with this claim" }
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Withdraw claim",
            classes: "govuk-button--warning"
          }) }}
          {{ govukButton({
            text: "Do not withdraw claim",
            href: backLink,
            classes: "govuk-button--secondary"
          }) }}
        </div>

        <input type="hidden" name="page" value="{{ page }}" />
        <input type="hidden" name="returnPage" value="{{ returnPage }}" />
        <input type="hidden" name="crumb" value="{{ crumb }}" />
      </form>
    </div>
  </div>
{% endblock %}
